pkgbase = rgfile-bin
	pkgdesc = Fast, robust command-line client for GigaFile.nu (prebuilt binary)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/Maymall/gigafile-rust-cli
	arch = x86_64
	license = GPL-3.0-only
	provides = rgfile
	conflicts = rgfile
	source = https://github.com/Maymall/gigafile-rust-cli/releases/download/v0.4.0/rgfile-0.4.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums = 5551382e4c8cdb0c18a7f4fe27ae0182d4817eec8c56e07aba67baf7f80f99a8

pkgname = rgfile-bin
